COOKIE_SEGURE=false
# token de 32 caracteres mínimo (HS256 = 256 bits)
SECRET_KEY=<poner en el .env sino no arranca la app>
ADMIN_INITIAL_USERNAME=admin
ADMIN_INITIAL_EMAIL=admin@foodstore.com
ADMIN_INITIAL_FULLNAME=Administrador
ADMIN_INITIAL_PASSWORD=admin123