# ─── MercadoPago ──────────────────────────────────────────────

MP_NOTIFICATION_URL= # Cambia esto por la URL de tu backend expuesto por ngrok para notificaciones

MP_FRONTEND_URL=  # Cambia esto por la URL de tu frontend expuesto por ngrok para MercadoPago (Cliente)

MP_ACCESS_TOKEN=# Cambia esto por tu token de acceso de MercadoPago (recomienda usar variables de entorno para esto)

# ─── Cloudinary (opcional) ──────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME= # Cambia esto por tu Cloud Name de Cloudinary (recomienda usar variables de entorno para esto)

CLOUDINARY_API_KEY= # Cambia esto por tu API Key de Cloudinary (recomienda usar variables de entorno para esto)

CLOUDINARY_API_SECRET= # Cambia esto por tu API Secret de Cloudinary (recomienda usar variables de entorno para esto)

# ─── Cookies ──────────────────────────────────────────────
COOKIE_SECURE= # Cambia esto a "true" para producción (requiere HTTPS), "false" para desarrollo (HTTP)
COOKIE_SAMESITE= # Cambia esto a "none" para producción (con HTTPS)

# ─── Otros ──────────────────────────────────────────────
SECRET_KEY="clave aca" # Cambia esto por una clave secreta segura para producción (recomienda usar variables de entorno para esto)

ADMIN_INITIAL_USERNAME=admin

ADMIN_INITIAL_EMAIL=admin@foodstore.com

ADMIN_INITIAL_FULLNAME=Administrador

ADMIN_INITIAL_PASSWORD=admin123

# Se uso docker para levantar todo el entorno