# Python
.venv/
venv/
__pycache__/
*.pyc

.dockerignore
Parcial 2.pdf
docs/


# Logs
logs
*.log
npm-debug.log*



yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.zip
.env
.env.local
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
.venv/
__pycache__/
*.pyc


*.svg



# Python
.venv/
__pycache__/
*.pyc


*.svg

.atl/
docker-compose.yml

Parcial 2.pdf
docs/

*.atl
